apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: segment-backup-job
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
- apiGroups:
  - "route.openshift.io"
  resources:
  - routes
  verbs:
  - get
  - list 